<h2 style="color:blue;">Create Credential offer and issue Credential</h2>
<br>
<label for="credential_definition_id">credential definition id : </label>
<select name="credential_definition_id" class="form-control" [(ngModel)]="credential_definition_id">
  <option *ngFor="let cred of credDefList" [value]="cred['credential_definition_id']">{{cred['schema_name']}}</option>
</select>
<br>
<label for="connection_id">connection id : </label>
<select class="form-control" name="connection_id" [(ngModel)]="connection_id">
  <option *ngFor="let conn of connectionList" [value]="conn['connection_id']">{{conn['their_label']}}</option>
</select>
<br>
<button (click)="connCredDefSelected()" class="btn btn-primary">Select</button>
<div *ngIf="connCredDefSelect==true">
  <table>
    <tr *ngFor="let itm of attributes">
      <td>{{itm}}</td>
      <td><input type="text" class="form-control" [(ngModel)]="custom[itm]" placeholder="Enter data"></td>
    </tr>
  </table>
  <br>
  <button (click)="sendCredentialOffer()" class="btn btn-primary">Send credential offer</button>
</div>

<br>
<div *ngIf="offerSent==true">
  <button (click)="issueCredential()" class="btn btn-success">Issue credential</button>
</div>

<br>

<h3 style="color:blue;">{{ credentialIssued !!}}</h3>